:root {
  --link-color: #ffffff;
  --background-color: #ffffff;
  --link-color_hover: #060606;
  --heading-font-family: "Raleway", sans-serif;
  --text-font-family: "Roboto", sans-serif;
      --primary-color: #ffffff;
    --accent-color-iris: #4d5ae5;
    --accent-color-text: #2e2f42;
    --accent-color-description: #434455;
    --button-color-filters: #404bbf;
    --accent-color-filters: #e7e9fc;
    --accent-color-cloud: #f4f4fd;
    --green-new-color: #31d0aa;
    --grey-new-color: #8e8f99;
    --modal-background-color: #fcfcfc;
    --navy-blue-modal: rgba(46, 47, 66, 0.4);
    --grey: rgba(46, 47, 66, 0.7);
    --font-family: "Roboto", sans-serif;
    --second-family: "Raleway", sans-serif;
    --icon-background: #4d5ae5;
    --icons-color: #f4f4fd;
    --icons-color-hover: #404bbf;
    --modal-background-btn-color: #e7e9fc;
    --modal-btn-color: #2e2f42;
    --transitions: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: 700;
}

* {
  font-family: var(--text-font-family);
}
ul {
  list-style-type: none;
}


a {
  text-decoration: none;
}

<!--Top linie -->

.global-header .main-nav a,
.global-header .main-nav a:visited {
  color: var(--link-color_hover);
  cursor: pointer;
  background-color: var(--background-color);
  display: flex; 
  flex-direction: row;
    flex-wrap: nowrap;
}

.container-heading {
display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-block-start: 0;
    width: 1440px;
height: 72px;
gap: 0px;
opacity: 0px;
    justify-content: space-evenly;
    lign-content: stretch;
}



.section-1 {
  display: flex;
  justify-content: center; 
  gap: 30px; 
}

.section-2  {
display: flex;
    flex-direction: column;
    align-items: center;
}

.section-3 
{
  display: flex;
    flex-direction: column;
    align-items: center;
}
.buton.container 
  display: flex;
  width:500px 

.social-section a,
.social-section a:visited {
  color: var(--link-color_hover);
  font-weight: 400;
}

.albastru {
  content: "WEB";
  color: #4d5ae5;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.03em;
  text-align: left;
}

.negru {
  content: "Studio";
  color: var(--link-color_hover);
  font-family: var(--heading-font-family);
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  text-align: left;
}

.button-service {
  background-color:#4D5AE5;
  color: var(--link-color); 
  border-color: var(link-color_hover);
  border-radius: 4px;
  border-width: 1px;
  font-size: 16px;
  lene-height: 24px; 
  padding: 16px; 36px;
  font-family: var(--text-font-familyo);
  text-align: left;
  width: Hug (169px);
  height: Hug (56px);
  top: 428px;
  left: 636px;
  gap: 10px;
  cursor: pointer;}

.hero-section {
display: flex;
 justify-content: center;
  align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
  background-color: #2e2f42;
  width: 1440px;
  height: 600px;
  color: var(--link-color);

}

.cautare {
  width: 1200px;
  display: flex;
  justify-content: space-between
}



.main-nav ul {
display: flex; 
width: Hug (261px);
height: Hug (24px);
top: 24px;
left: 347px;
gap: 40px;
}

.main-nav a {
  color: #060606;
  text-decoration: none;
  font-weight: 400;
  width: Hug (261px);
  height: Hug (24px);
  top: 24px;
  left: 347px;
  gap: 40px;
}

.social-section a {
  color: #060606;
  font-weight: 400;
}

Secțiunea de Căutare (Search Section)


.global-header{
  display: flex; 
  align-items: center;
  width: Hug (1440px);
height: Hug (72px);
}

.button-service {
  background-color: #4d5ae5;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  width: 169px; 
  height: 56px; 
  top: 428px; 
  left: 636px; 
  padding: 16px 32px; 
  box-shadow: 0px 4px 4px 0px rgba (0, 0, 0, 0.26); }

  .antet-portofolio{
height: 312px;
top: 2280px;
background: #2E2F42;
  }

  .text-footer{
    color: #ffffff
  }

  .botton-sectiunea-1
  {
    display: flex;
flex-wrap: nowrap;
width: Hug (586px);
height: Hug (48px);
top: 168px;
left: 427px;
gap: 24px;
  }

  .sectiunea-cu-Row-1 {
  display: flex;
  align-items: baseline;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 1128px;
height: 420px;
top: 756px;
left: 156px;
border: 1px;
background: #FFFFFF;
border: 1px solid #E7E9FC}

.sectiunea cu Row 2{
display: flex;
  align-items: baseline;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 1128px;
height: 420px;
top: 756px;
left: 156px;
border: 1px;
background: #FFFFFF;
border: 1px solid #E7E9FC
}
.sectiunea cu Row 3
{display: flex;
  align-items: baseline;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 1128px;
height: 420px;
top: 756px;
left: 156px;
border: 1px;
background: #FFFFFF;
border: 1px solid #E7E9FC

}
/* Information about Cards */
.project-card-list {
    display: flex;
    gap: 24px;
    margin-bottom: 20px;
    width: 1128px;
height: 420px;

}
.project-card {
    width: 360px;
    height: 420px;
    background: var(--background-white-color);
    border: 1px solid #e7e9fc;
    
}
.container
{
  width:1200px; !important;
}


.buton {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}
.container { 
  margin: 0 auto;
max-witdh:1200px;
}

.group-company {
    /*modificat atentie */
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 72px;
    gap: 30px;
    width: 100%;
    border: 3px solid brown;
}
.page-footer {
    background-color: var(--accent-color-text);
    display: flex;
    justify-content: space-evenly;
    width: 1440px;
    height: 312px;
    top: 2888px;
    gap: 0px;
    opacity: 0px;
}


footer a {
  text-decoration: none;
}

.increase {
  color: #f4f4fd;
  box-sizing: content-box;
  width: 264px;
  padding-top: 16px;
}


.social-media {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--primary-color);
  box-sizing: border-box;
}

.footer-icons {
  display: flex;
  gap: 16px;
  margin-top: 16px;
}

.footer-icons .social-links svg {
  width: 24px;
  height: 24px;
  fill: var(--accent-color-cloud);
}

.footer-icons .social-links {
  width: 40px;
  height: 40px;
  background-color: var(--accent-color-iris);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--icons-color);
  transition: var(--transitions);
}

.footer-icons .social-links:hover,
.footer-icons .social-links:focus {
  background-color: var(--green-new-color);
}

.is-hidden{ 
  display: none;
}

.modal {
display: none;
position: fixed;
top: 0;
left: 0;
width: 100vw; 
height: 100vh;
background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content{
    position: relative; 
  margin: 0 auto;
  padding:20px;
  background-color: white;
  width:50%;
  height: 50%;
   border-radius: 5px;
}

.close-btn{ 
  position: absolute;
  cursor: pointer;
  ackground-color: #E7E9FC;
    border-radius: 50%;
    color: #2E2F42;
    outline: none;
    top: 24px;
    right: 24px;
    border-color: #0000001A;
}

.last-container{
  width: 264px;
height: 112px;
top: 2988px;
left:156px;
gap: 0px;
opacity: 0px;
}
.icons-list {
    display: flex;
    gap: 24px;
    margin-top: 8px;
    justify-content: center;
}
.social-icons{
  width: 208px;
height: 80px;
top: 2988px;
left: 540px;
gap: 0px;
opacity: 0px;
}
.icons-list .icon svg {
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
top: -0px;
gap: 0px;
opacity: 0px;
angle: -0 deg;
    color: #F4F4FD;
    transition: 50ms cubic-bezier(0.4, 0, 0.2, 1);
}
.text-footer{
  color: #ffffff
  }

.buton {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
  
}

.img-overlay {
  position: relative;
  overflow: hidden; 
}