:root {
  --link-color: #ffffff;
  --background-color: #ffffff;
  --link-color_hover: #060606;
  --heading-font-family: "Raleway", sans-serif;
  --text-font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: 700;
}

* {
  font-family: var(--text-font-family);
}

.global-header {
  background-color: var(--background-color);
}

.global-header .main-nav a,
.global-header .main-nav a:visited {
  color: var(--link-color_hover);
  font-weight: 400;
  width: 261px;
  height: 24px;
  top: 24px;
  left: 347px;
  gap: 40px;
}

ul {
  list-style-type: none;
}

.global-header .nav a,
.global-header .nav a:hover {
  color: var(--link-color_hover);
  cursor: pointer;
}

a {
  text-decoration: none;
}

.social-section a,
.social-section a:visited {
  color: var(--link-color_hover);
  font-weight: 400;
}

.albastru {
  content: "WEB";
  color: #4d5ae5;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.03em;
  text-align: left;
}

.negru {
  content: "Studio";
  color: var(--link-color_hover);
  font-family: var(--heading-font-family);
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  text-align: left;
}

.button-service {
  background-color:#4D5AE5;
  color: var(--link-color); 
  border-color: var(link-color_hover);
  border-radius: 4px;
  border-width: 1px;
  font-size: 16px;
  lene-height: 24px; 
  padding: 16px; 36px;
  font-family: var(--text-font-familyo);
  text-align: left;
  width: Hug (169px);
  height: Hug (56px);
  top: 428px;
  left: 636px;
  gap: 10px;
  cursor: pointer;

.hero-section {
  background-color: #2e2f42;
  width: 1440px;
  height: 600px;
  top: 72px;
  color: var(--link-color);
}

.hero-text {
  width: 496px;
  height: 120px;
  top: 260px;
  left: 472px;
}

.cautare {
  width: 1200px;
  display: flex;
}
